body {
    color: #40514E;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 90px;
    color: #66bfbf;
    font-family: 'Sacramento', serif;
    margin-bottom: 0;
}

.my-photo{
    margin-top: 30px;
    width: 30%;
}

h2 {
    margin-top: 0;
    color: #66bfbf;
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

.cloud1 {
    position: relative;
    left: 350px;
}

.cloud2 {
    display: block;
    position: absolute;
    left: 300px;
}

.Top-container {
    font-style: italic;
    background-color: #B5EAEA;
    padding: 35px;
}

p {
    font-size: large;
}
.Education {
    font-size: large;
    font-weight: bold;
}
.education{
    font-weight: bold;
}
.profile {
    width: 50%;
    margin: auto;
}


.Certificate {
    text-decoration: none;
    color: #E78EA9;
}

.LinkedIn {
    text-decoration: none;
    color: #E78EA9;
}

.bottom-container {
    background-color: #B5EAEA;
    color: #40514E;
    padding-bottom: 10px;
    padding-top: 10px;
}

.skill-row-1 {
    width: 50%;
    margin: 50px auto 200px auto;
    text-align: left;
    line-height: 2;
}

.skill-row-2 {
    width: 50%;
    margin: 0px auto 200px auto;
    text-align: left;
    line-height: 2;
}

.web-photo {
    width: 25%;
    float: left;
}

.Hobbies-1 {
    width: 25%;
    float: right;
}

.after-profile {
    border-top: 5px dotted #9FB4FF;
    width: 100px;
    margin-top: 65px;
}

.after-row1 {
    border-top: 5px dotted #9FB4FF;
    width: 100px;
    margin-top: 65px;
    margin-bottom: 65px;
}
