body {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 90px;
    color: #66bfbf;
    font-family: 'Sacramento', serif;
    margin-bottom: 0;
}

.my-photo{
    margin-top: 30px;
}

h2 {
    margin-top: 0;
    color: #66bfbf;
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

.web-photo {
    size-adjust: 10%;
}

.cloud1 {
    position: relative;
    left: 350px;
}

.cloud2 {
    display: block;
    position: absolute;
    left: 300px;
}

.Top-container {
    font-style: italic;
    background-color: #B5EAEA;
    padding: 30px;
}

p {
    font-size: large;
}
.hLine {
    border: solid;
}

.Education {
    font-size: large;
    font-weight: bold;
}
.education{
    font-weight: bold;
}
.profile {
    width: 50%;
    margin: auto;
}
.skills {
    width: 50%;
    margin: auto;
}
